html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}
:root{
    --color-primary: #1B0C1A;
    --color-secondary: #4B2138;
    --footer-color: #765D67;
    --white-font: #FADCD5;
}

header{
    background-color: var(--color-primary);
    padding: 15px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: var(--white-font);
}
.get-started-button-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.money-icon{
    color: #fff;
}
.get-started-button{
    background-color: cyan;
    padding: 5px;
    border-radius: 10px; 
}
.hero-title-container{
    font-family: Barlow;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Libre Franklin";
    max-width: 450px;
}
.hero-title-container span {
    color: cyan;
    font-family: "Libre Franklin"
}

#thumbnail-container{   
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;

}
.offering{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}
.hook{
    color: #fff;
}
.paragraph-links{
    width: 90%;
    max-width: 350px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: "Ubuntu";
    color: #fff;
}
main{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.image-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-family: "Libre Franklin";
}
.image-container h2{
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.online-banking-image{
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    border-radius: 20px;
}
#small-thumbnail-container{
    display : grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    gap: 15px;
    padding: 15px;
}
#heading-thumbnail-container{
    padding: 0;
    height: 1300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#pic-and-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 20px;
    text-align: center;
}
h2{
    font-family: "Zalando Sans Expanded";
    font-weight: normal;
}
.bank-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bank-content img{
    width: 100%;
    height: 100%;
    max-height:500px;
    border-radius: 20px;
}
.bank-content p{
    font-size: 0.7rem;
    text-align: left;
}
.bank-content span{
    font-weight: bold;
}
#stand-alone-pic{
    height: 50vh;
    border-radius: 20px;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
#background-container{
    background-image: url("https://images.pexels.com/photos/6609232/pexels-photo-6609232.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 90%;
    height: 50vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 10vh;
}
#background-container h2{
    color: #fff;
    font-size:2.3rem;
}
#background-container button{
    width: 100%;
    max-width: 150px;
    height: 30px;
    padding: 10px;
    background-color: var(--color-secondary);
    color: var(--white-font);
}
footer{
    height: 35vh;
    background-color: var(--footer-color);
    padding: 20px;

}
#footer-thumbnail-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-thumbnail{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.footer-thumbnail i{
    font-size: 2.4rem;
}
.footer-thumbnail p{
    width: 60%;
}
.footer-content{
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media only screen and (min-height: 900px){
    header{
        height: 50vh;
    }
    .online-banking-image{
    height: 40vh;
}
}

@media only screen and (min-width: 800px){
    header{
        position: sticky;
        top: 0;
        z-index: 1;

    }
    .image-container h2{
        margin-top: 10vh;
    }
    main{
        position: relative;
        z-index: 10;
        background-color: #fff;
    }
    #background-container{
        margin-bottom: 0;
    }
    footer{
        position: relative;
        z-index: 10;
    }
    #small-thumbnail-container{
    display : grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    gap: 15px;
    padding: 15px;
}
    #heading-thumbnail-container{
        padding: 0 15px;
        height: 960px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    #pic-and-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        row-gap: 20px;
    }
    #pic-and-info h2{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #stand-alone-pic{
        grid-column: 1/3;
        grid-row: 3/4;
        margin-right: auto;
        margin-left: auto;
    }
    #colored-icons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;

    }
}
@media only screen and (min-width: 1280px){
    header{
        position: fixed;
        z-index: 11;
        top: 0;
        height: 100vh;
    }
    
    main{
        margin-left: 33%;
        width: 67%;
        overflow-y: auto;
        height: 100vh;
    }
    footer{
        margin-left: 33%;
        width: 67%;
    }
}
