*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #4EA3BA;
    --color-secondary: #97CADB;
    --color-highlight: #023859;
}

.thumbnail-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    width: 90px;
    min-width: 86px;
    padding: 0;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-secondary);

}
.thumbnail-container p {
    font-size: 0.7rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
   
}
.thumbnail-icon{
    padding: 0;
    font-size: 25px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    
}
.brand-icons{
    padding: 0;
    font-size: 25px;
}
.small-thumbnail-container{
    display: flex;
    flex-direction: row;
    padding-left: auto;
    padding-right: auto;
    align-items: center;
    margin-right :auto;
    margin-left: auto;
    color: var(--color-highlight);
}
.small-thumbnail-container:nth-child(5){
    grid-column: 1/3;
    grid-row: 3/4;
}
.content-thumbnail{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    height: 25vh;
    align-items: center;
    justify-content: center;
}
.no-background h1{
    font-size: 2rem;
    font-family: "Zalando Sans Expanded";
    font-weight: normal;
}
.no-background p{
    font-size: 0.7rem;
}
.blue-background{
    background-color: var(--color-secondary);

}
.blue-background i, .blue-background h1 {
    font-size: 3.8rem;
}
.blue-background p {
    font-size: 0.9rem;
}