*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #1B0C1A;
    --color-secondary: #4B2138;
    --color-highlight: #023859;
    --white-font: #FADCD5;
}

.thumbnail-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    width: 100%;
    max-width: 300px;
    min-width: 86px;
    padding: 0;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-secondary);

}
.thumbnail-container p {
    font-size: 0.7rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
   
}
.thumbnail-icon{
    padding: 0;
    font-size: 25px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    
}
.brand-icons{
    padding: 0;
    font-size: 25px;
}
.small-thumbnail-container{
    display: flex;
    flex-direction: row;
    padding-left: auto;
    padding-right: auto;
    align-items: center;
    margin-right :auto;
    margin-left: auto;
    color: var(--color-highlight);
}
.small-thumbnail-container:nth-child(5){
    grid-column: 1/3;
    grid-row: 3/4;
}
.content-thumbnail{
    padding: 15px;
    display: flex;
    width: 100%;
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    height: 100%;
    max-height: 300px;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: var(--white-font);
}
.no-background{
    width: 100%;
    max-width: 500px;
    color: var(--primary-color);
}
.no-background h1{
    font-size: 2rem;
    font-family: "Zalando Sans Expanded";
    font-weight: normal;
}
.no-background p{
    font-size: 0.7rem;
}
.blue-background{
    background-color: var(--color-secondary);

}
.blue-background i, .blue-background h1 {
    font-size: 3.8rem;
}
.blue-background p {
    font-size: 0.9rem;
}
.icon-background i{
    font-size: 5.2rem;
    width: 100%;
    max-width: 40vw;
    color: var(--white-font);
    background-color: var(--color-primary);
    padding: 15px 20px;
    border-radius: 15px;
}
.icon-background p{
    color: var(--color-primary);
}
@media only screen and (min-width: 800px){
.small-thumbnail-container:nth-child(5){
    grid-column: 5/6;
    grid-row: 1/2;
}
.heading-thumbnail-with-content:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
.no-background{
    grid-column: 1/5;
}
}